.container-booking {
	padding: 150px 250px 100px 250px;
	background-color: #f1f1f1;
}

.booking {
	height: 250px;
	width: 950px;
	background-color: rgb(255, 255, 255);
	display: flex;
	margin: auto;
	margin-bottom: 15px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
	border-radius: 0.125rem;
	padding: 5px;
}

.booking-img {
	float: left;
	margin-right: 5px;
	width: 18%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.booking-img img {
	width: 100%;
}

.booking-content {
	float: right;
	width: 82%;
}

.booking-info {
	background-color: rgb(241, 241, 241);
	border-bottom: 1px solid lightgray;
	height: 80%;
	padding: 15px;
}

.booking-btn-area {
	background-color: rgb(241, 241, 241);
	height: 20%;
	padding-left: 67.8%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.booking-btns {
	display: inline-block;
	height: 100%;
	margin-right: 10px;
	vertical-align: top;
	width: 100%;
	max-width: 111px;
	text-align: center;
	margin-bottom: 10px;
	background-color: #fff;
}

.booking-btn {
	cursor: pointer;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	border-radius: 3px;
}

#change {
	background-color: #3fc153;
}

#cancel {
	background-color: #c93131;
}

.no-booking {
	padding-top: 100px;
	height: 300px;
	color: rgb(97, 97, 97);
	flex-direction: column;
}

#no-booking {
	position: absolute;
	top: 250px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	text-align: center;
}

#no-booking div {
	margin-top: 30px;
}

.go-booking {
	height: 60px;
	width: 150px;
	position: absolute;
	top: 415px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.go-booking-btns {
	height: 36px;
}

.go-booking-btn {
	cursor: pointer;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	background-color: #171717;
	color: rgb(255, 255, 255);
}

.go-booking-btn:hover {
	background-color: #1f1f1f;
	color: rgb(232, 232, 232);
}