main section h1 {
	text-align: center;
	font-weight: bold;
}

html, body {
	height: 100%;
	background-color: #152733;
}

.form {
	color: black;
	margin: 2em auto;
	width: 40%;
	background-color: white;
	border-radius: 5%;
	border: 8px double rgb(77, 77, 77);
	padding: 2em;
}

.flex {
	display: flex;
}

textarea {
	resize: none;
	white-space: pre-line
}

.imgUpload {
	height: 150px;
	width:150px;
}