<!DOCTYPE html>
<html lang="en" class="light" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>booking manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="" href="">
    <script src="https://www.w3schools.com/lib/w3.js"></script>

</head>

<body>
    <!-- partial:index.partial.html -->

    <div class="app-container">
<!--        <div style="height:100vh">-->
<!--            <jsp:include page="../dashboard_sidebar.jsp" />-->
<!--        </div>-->

        <div class="app-content" style="min-height:100vh">
            <div class="app-content-header">
                <h1 class="app-content-headerText">預約管理</h1>
                <button class="mode-switch" title="Switch Theme">
                    <svg class="moon" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                        stroke-width="2" width="24" height="24" viewBox="0 0 24 24">
                        <defs></defs>
                        <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
                </button>

            </div>
            <div class="app-content-actions">
                <input class="search-bar" placeholder="Search..." type="text">
                <div class="app-content-actions-wrapper">
                    <div class="filter-button-wrapper">
                        <button class="action-button filter jsFilter">
                            <span>Filter</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-filter">
                                <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3" />
                            </svg>
                        </button>
                        <div class="filter-menu">
                            <label>Category</label> <select>
                                <option>All Categories</option>
                                <option>Furniture</option>
                                <option>Decoration</option>
                                <option>Kitchen</option>
                                <option>Bathroom</option>
                            </select>

                            <div class="filter-menu-buttons">
                                <button class="filter-button reset">Reset</button>
                                <button class="filter-button apply">Apply</button>
                            </div>
                        </div>
                    </div>
                    <button class="action-button list active" title="List View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-list">
                            <line x1="8" y1="6" x2="21" y2="6" />
                            <line x1="8" y1="12" x2="21" y2="12" />
                            <line x1="8" y1="18" x2="21" y2="18" />
                            <line x1="3" y1="6" x2="3.01" y2="6" />
                            <line x1="3" y1="12" x2="3.01" y2="12" />
                            <line x1="3" y1="18" x2="3.01" y2="18" />
                        </svg>
                    </button>
                    <button class="action-button grid" title="Grid View">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-grid">
                            <rect x="3" y="3" width="7" height="7" />
                            <rect x="14" y="3" width="7" height="7" />
                            <rect x="14" y="14" width="7" height="7" />
                            <rect x="3" y="14" width="7" height="7" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="products-area-wrapper tableView">
                <div class="products-header">
                    <div class="product-cell booking-id">
                        預約編號
                        <button class="sort-button" id="bookingID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                            </svg>
                        </button>
                    </div>
                    <div class="product-cell game-name">
                        遊戲名稱
                        <button class="sort-button" id="gname">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                            </svg>
                        </button>
                    </div>
                    <div class="product-cell email">
                        會員email
                        <button class="sort-button" id="email">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                            </svg>
                        </button>
                    </div>
                    <div class="product-cell date">
                        預約日期
                        <button class="sort-button" id="bookingDate">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                            </svg>
                        </button>
                    </div>
                    <div class="product-cell time">
                        預約時間
                        <button class="sort-button" id="bookingTime">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M496.1 138.3L375.7 17.9c-7.9-7.9-20.6-7.9-28.5 0L226.9 138.3c-7.9 7.9-7.9 20.6 0 28.5 7.9 7.9 20.6 7.9 28.5 0l85.7-85.7v352.8c0 11.3 9.1 20.4 20.4 20.4 11.3 0 20.4-9.1 20.4-20.4V81.1l85.7 85.7c7.9 7.9 20.6 7.9 28.5 0 7.9-7.8 7.9-20.6 0-28.5zM287.1 347.2c-7.9-7.9-20.6-7.9-28.5 0l-85.7 85.7V80.1c0-11.3-9.1-20.4-20.4-20.4-11.3 0-20.4 9.1-20.4 20.4v352.8l-85.7-85.7c-7.9-7.9-20.6-7.9-28.5 0-7.9 7.9-7.9 20.6 0 28.5l120.4 120.4c7.9 7.9 20.6 7.9 28.5 0l120.4-120.4c7.8-7.9 7.8-20.7-.1-28.5z" />
                            </svg>
                        </button>
                    </div>

                    <button style="visibility: hidden;">修改</button>
                    <button style="visibility: hidden;">刪除</button>

                </div>
                <!-- ================================HTML寫這裡================================ -->
                        <div class="products-row" th:each="booking : ${bookings}">
                            <button class="cell-more-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-more-vertical">
                                    <circle cx="12" cy="12" r="1" />
                                    <circle cx="12" cy="5" r="1" />
                                    <circle cx="12" cy="19" r="1" />
                                </svg>
                            </button>
                            <div class="product-cell image booking-id">
                                <img th:src="${booking.getGameBean().getGameimg()}" alt="product"> <span th:text="${booking.getBookingId()}" />


                            </div>
                            <div class="product-cell game-name" th:text="${booking.getGameBean().getGname()}">
                                <span class="cell-label">遊戲名稱:</span>

                            </div>
                            <div class="product-cell email" th:text="${booking.getMemberBean().getEmail()}">
                                <span class="cell-label">會員email:</span>

                            </div>
                            <div class="product-cell date" th:text="${booking.getBookingDate()}">
                                <span class="cell-label">預約日期:</span>

                            </div>
                            <div class="product-cell time" th:text="${booking.getBookingTime()}">
                                <span class="cell-label">預約時間:</span>

                            </div>
                            <button class="btn btn-success btn-sm " id="sava" style="display: none">儲存</button>
                            <button class="btn btn-warning btn-sm" id="update">修改</button>
                            <button class="btn btn-danger btn-sm" id="delete">刪除</button>
                        </div>

                            <!-- ================================HTML寫這裡================================ -->
            </div>
        </div>
    </div>
        <!-- partial -->
        <script src="https://kit.fontawesome.com/a260a05f7c.js" crossorigin="anonymous"></script>
        <script src="js/dashboard.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            w3.includeHTML();
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
            integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>
        <script th:inline="javascript">

            $(function () {

                $(".btn-danger").click(function () {
                    let bookingID = $(this).parent().find(".booking-id span").text();
                    let btn = $(this);
                    Swal.fire({
                        title: '確定刪除預約?',
                        showDenyButton: true,
                        showCancelButton: false,
                        confirmButtonText: '確定',
                        denyButtonText: `取消`,
                    }).then((result) => {
                        /* Read more about isConfirmed, isDenied below */
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "POST",
                                url: "deleteBooking",
                                data: { bookingID: bookingID },
                                success: function (response) {
                                    // 刪除成功時執行的代碼
                                    btn.parent().remove();
                                    Swal.fire('刪除成功', '', 'success')
                                    console.log(response);
                                },
                                error: function (xhr, status, error) {
                                    // 刪除失敗時執行的代碼
                                    console.log(error);
                                }
                            });

                        } else if (result.isDenied) {

                        }
                    })
                });

                $(".btn-warning").click(function () {
                    let row = $(this).parent();
                    row.find(".btn-success").css("display", "inline-block");
                    row.find(".btn-warning").css("display", "none");

                    let gameName = row.find(".game-name").contents().filter(function () {
                        return this.nodeType == 3;
                    }).text().trim();
                    let email = row.find(".email").contents().filter(function () {
                        return this.nodeType == 3;
                    }).text().trim();
                    let date = row.find(".date").contents().filter(function () {
                        return this.nodeType == 3;
                    }).text().trim();
                    let time = row.find(".time").contents().filter(function () {
                        return this.nodeType == 3;
                    }).text().trim();

                    var games = [[${games}]];
                    var html = '<span class="cell-label">遊戲名稱:</span><select>';

                    for(let i = 0; i < games.length; i++)
                    {
                        let gameName = games[i].gname;
                        var optionHtml = '<option value="' + gameName + '">' + gameName + '</option>';
                        html += optionHtml;
                    }

                    html += '</select>';
                    row.find(".game-name").html(html).find('select').val(gameName).css('width', '75%');
                    row.find(".email").html(`<span class="cell-label">會員email:</span><input type="text" class="text-email">`).find('input').val(email).css('width', '75%');
                    row.find(".date").html(`<span class="cell-label">預約日期:</span><input type="text" class="datepicker">`).find('input').val(date).css('width', '75%');
                    row.find(".time").html(`<span class="cell-label">預約時間:</span><select>
																					<option>09:00</option>
																					<option>13:00</option>
																					<option>19:00</option>
																				</select>`).find('select').val(time).css('width', '75%');

                    //text-email驗證
                    $(".text-email").on("keydown", function (event) {
                        console.log("Key pressed:", event.key);
                    });
                    //date-picker
                    $(".datepicker").datepicker({
                        dateFormat: "yy-mm-dd"
                    });
                });

                $(".btn-success").click(function () {
                    let row = $(this).parent();
                    row.find(".btn-success").css("display", "none");
                    row.find(".btn-warning").css("display", "inline-block");

                    let gameName = row.find(".game-name select").val();
                    let email = row.find(".email input").val();
                    let date = row.find(".date input").val();
                    let time = row.find(".time select").val();
                    row.find(".game-name").html(`<span class="cell-label">遊戲名稱:</span>` + gameName);
                    row.find(".email").html(`<span class="cell-label">會員email:</span>` + email);
                    row.find(".date").html(`<span class="cell-label">預約日期:</span>` + date);
                    row.find(".time").html(`<span class="cell-label">預約時間:</span>` + time);

                    let bookingID = $(this).parent().find(".booking-id span").text();

                    $.ajax({
                        type: "POST",
                        url: "updateBooking",
                        data: {
                            bookingID: bookingID,
                            gameName: gameName,
                            email: email,
                            date: date,
                            time: time
                        },
                        success: function (response) {
                            // 修改成功時執行的代碼
                            row.find(".product-cell img").attr("src", response);
                        },
                        error: function (xhr, status, error) {
                            // 修改失敗時執行的代碼
                            console.log(error);
                        }
                    });
                });

                let asc = true;
                $(".sort-button").click(function () {
                    let header = $(this).attr("id");
                    $.ajax({
                        type: "POST",
                        url: "orderBooking.jsp",
                        data: {
                            header: header,
                            asc: asc
                        },
                        success: function (response) {

                        },
                        error: function (xhr, status, error) {

                        }
                    });
                });
            });
        </script>

</body>

</html>